@model DataModel

<div class="d-flex m-2">
    <div>
        <h3>
            @System.IO.Path.GetFileNameWithoutExtension(Model.Name)
        </h3>
    </div>
    <div>
        <button class="show-audio btn btn-outline-dark ms-2 d-flex justify-content-center align-items-center text-center" data-audio-name="@Model.Name" data-audio-id="@Model.Id"><i class="bi bi-chevron-down viewAudioIcon"></i></button>
    </div>
    <div>
        <a id="bookLink2" class="bookLink p-2 ms-2 btn btn-outline-dark" data-folderId="@Model.FolderId" data-folderName="@Model.FolderName">View Full Book</a>
    </div>
</div>
<div class="audio-container" data-audio-id="@Model.Id"></div>

<script>
    function pauseOthers(ele, audioName) {
        $("audio").not(ele).each(function (index, audio) {
            audio.pause();
        });
        var currentTime = ele.currentTime;
        if (!ele.loop && currentTime <= 0.04) {
            $.ajax({
                url: "/Database/AddAudioToDB",
                type: "POST",
                data: { audioName: audioName },
                success: function (result) {
                    console.log(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });
        }
    }
    function Replay(audio, audioName) {
        if (audio.loop) {
            var currentTime = audio.currentTime;
            var duration = audio.duration;
            if (currentTime <= 0.1 && duration > 0.1) {
                $.ajax({
                    url: "/Database/AddAudioToDB",
                    type: "POST",
                    data: { audioName: audioName },
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            }
        }
    }

    var currentlyPlaying;

    const buttonsss = document.querySelectorAll('.show-audio');

    buttonsss.forEach((button) => {
        button.addEventListener('click', () => {
            const audioId = button.getAttribute('data-audio-id');
            const audioName = button.getAttribute('data-audio-name');
            const container = document.querySelector(`.audio-container[data-audio-id="${audioId}"]`);
            if (container.innerHTML === '') {
                container.innerHTML = `
            <audio controls controlsList="nodownload noplaybackrate" ontimeupdate="Replay(this,'${audioName.replace("'", "\\'")}' )" onplay="pauseOthers(this,'${audioName.replace("'", "\\'")}');">
                <source src="https://drive.google.com/uc?export=view&id=${audioId}">
                    Your browser does not support the audio tag.
            </audio><div>
            <button class="btn btn-outline-dark" onclick="repeatAudio(this)"><i class="repeat-button bi bi-repeat-1"></i></button></div>`;

            }
            const audio = container.querySelector('audio');
            container.classList.toggle('show');
            if (audio.play) {
                audio.pause();
            }
            const icon = button.querySelector('i');
            if (icon.classList.contains('bi-chevron-down')) {
                icon.classList.remove('bi-chevron-down');
                icon.classList.add('bi-chevron-up');
            } else {
                icon.classList.remove('bi-chevron-up');
                icon.classList.add('bi-chevron-down');
            }
        });

    });
    function repeatAudio(button) {
        const container = button.closest('.audio-container');
        const audio = container.querySelector('audio');
        const repeatButton = button.querySelector('.repeat-button');

        if (audio.loop) {
            audio.removeAttribute('loop');
            repeatButton.classList.remove('bi-repeat');
            repeatButton.classList.add('bi-repeat-1');
        } else {
            audio.setAttribute('loop', true);
            repeatButton.classList.remove('bi-repeat-1');
            repeatButton.classList.add('bi-repeat');
        }
    }
</script>